.link-otra-direccion {
    color: gray;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
}

.total-item {
    ion-text {
        display: flex;
        justify-content: space-between;

        .total {
            color: black;
        }
    }
}
