<ion-header>
  <ion-toolbar color="naranja">

    <ion-buttons slot="start">
      <ion-button (click)="regresarDirecciones()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Agregar Nueva Direccion</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

 
    <div>

      <p>Proporciona los nuevos datos</p>

      <!-- calle -->
      <div>
        <p class="textbox-label">Calle</p>
        <ion-item class="mdm-textbox-card" lines="none">
          <input type="text" placeholder="Tu calle" [(ngModel)]="direccion.calle">
        </ion-item>
      </div>

      <!-- numero -->
      <p class="textbox-label">Numero</p>
      <ion-grid>
        <ion-row>

          <!-- exterior -->
          <ion-col>
            <p class="textbox-label">Exterior</p>
            <ion-item class="mdm-textbox-card" lines="none">
              <input type="number" placeholder="Exterior" [(ngModel)]="direccion.numeroExterior">
            </ion-item>
          </ion-col>

          <!-- interior -->
          <ion-col>
            <p class="textbox-label">Interior</p>
            <ion-item class="mdm-textbox-card" lines="none">
              <input type="number" placeholder="Interior" [(ngModel)]="direccion.numeroInterior">
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- colonia -->
      <div>
        <p class="textbox-label">Colonia</p>
        <ion-item class="mdm-textbox-card" lines="none">
          <input type="text" placeholder="Tu colonia" [(ngModel)]="direccion.colonia">
        </ion-item>
      </div>

      <ion-button color="naranja" class="ion-text-capitalize" expand="block" fill="outline">Añadir ubicación con mapa</ion-button>

      <div class="btn-container">
        <ion-button color="naranja" class="ion-text-capitalize" (click)="intentarActualizacion()">Siguiente</ion-button>
      </div>

    </div><!-- segment direcciones -->


</ion-content>
