<ion-header>
  <ion-toolbar>
    <ion-title>modal-test</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card>
    <img src="../../../assets/Fondo.jpg">
    <ion-card-header>
      <div class="pedido-item-title">
        <p>Pizza Hawaiana</p>
        <ion-badge>En proceso</ion-badge>
      </div>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none">
        <ion-icon name="star" slot="start"></ion-icon>
        <ion-label>Domino's Pizza</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="star" slot="start"></ion-icon>
        <ion-label>Domino's Pizza</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>
