.direccion-item {
  ion-icon {
      margin-right: 15px;
  }

  .titulo {
      margin-bottom: 4px;
      font-size: 15px;
  }

  .subtitulo {
      font-size: 13px;
      color: gray;
  }
}

.item-total {
  display: flex;
  justify-content: space-between;

  span {
    color: black;
  }
}
