<ion-content>

  <img src="../../assets/img/flecha-fondo-naranja.png" class="flecha">

  <div class="ion-padding">

    <img src="../../assets/img/logo.png" class="logo">

    <div class="bienvenida">
      <p>Para usar nuestro servicio</p>
      <h3>Regístrate</h3>
    </div>

    <div class="links">
      <p routerLink="/login">Iniciar Sesión</p>
      <p><b>Registrarse</b></p>
    </div>

    <!-- usuario -->
    <div>
      <p class="textbox-label">Usuario</p>
      <ion-item class="mdm-textbox-card" lines="none">
        <ion-icon name="person"></ion-icon>
        <input type="text" placeholder="correo@ejemplo.com">
      </ion-item>
    </div>
    <br>

    <!-- contrasena -->
    <div>
      <p class="textbox-label">Contraseña</p>
      <ion-item class="mdm-textbox-card" lines="none">
        <ion-icon name="lock-closed"></ion-icon>
        <input type="password" placeholder="Tu contraseña">
      </ion-item>
    </div>
    <br>

    <!-- confirmar contrasena -->
    <div>
      <p class="textbox-label">Confirmar contraseña</p>
      <ion-item class="mdm-textbox-card" lines="none">
        <ion-icon name="lock-closed"></ion-icon>
        <input type="password" placeholder="Confirma tu contraseña">
      </ion-item>
    </div>
    <br>

    <ion-button color="naranja" class="ion-text-capitalize" expand="full" (click)="intentarRegistro()">Registrarme</ion-button>
    
  </div>

</ion-content>
