.top-btn {
    background: transparent;
    height: 120px;
    z-index: -1;
    padding: 10px 10px;
    display: flex;
    justify-content: flex-start;

    .logo {
        display: flex;
        align-self: center;
        margin-left: auto;
        margin-right: auto;
        height: 125px;
        width: 125px;
    }
}

.principal{
    z-index: 1;
    position: relative;
    top: -25px;
    padding: 15px 25px;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    background-color: #fff;
}

.contenedor{
    display: block;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    
    
}


.contenedor-iconos-center{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.contenedor-iconos-end{
    display: flex;
    flex-flow: row wrap;
    justify-content: end;
}

.cnombre{
    font: 1.4rem bold;
    color: black;
    text-align: center;
}
.icon{
    color: orange;
    width: 20%;
    font-size: 3rem;
}

.text{
    font: 1.0rem;
    color: black;
    text-align: left;
    
}

.comentario{
    font: 1.0rem;
    color:white;
    width: 100%;
}

ion-icon{
    color: black;
    align-self: end;
}



