<ion-content>
  <!-- <div class="top-btn">
      <ion-avatar class="logo">
        <img [src]="foto">
      </ion-avatar>
  </div> -->

  <div class="background"></div>
  <div class="centro">
    <img class="foto" src="../../../assets/img/fotodegary.jpg" alt="">
  </div>
  
    <div class="contenedor">
      <p class="cnombre">¡Califica a {{nombre}}!</p>
      <div class="contenedor-iconos-center">
        <ion-icon class="icon" name="star"></ion-icon>
        <ion-icon class="icon" name="star"></ion-icon>
        <ion-icon class="icon" name="star"></ion-icon>
        <ion-icon class="icon" name="star"></ion-icon>
        <ion-icon class="icon" name="star"></ion-icon>
      </div>
      <ion-list class="ion-margin-top">
        <ion-list-header mode="md">
          <ion-label class="bold">Comentario opcional</ion-label>
        </ion-list-header>
        <div class="textarea">
          <ion-textarea rows="2" cols="4" placeholder="Ej. Pedir servilletas"></ion-textarea>
        </div>
          
      </ion-list>
      
    </div>

</ion-content>
<ion-footer fullscreen>
  <ion-button color="naranja" expand="full">Calificar</ion-button>
</ion-footer>
