<ion-header>
  <ion-toolbar>

    <!-- cerrar -->
    <ion-buttons slot="end">
      <ion-button (click)=cerrarModal()>
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="centrar-imagen">
    <img src="../../../assets/pizzah.jpg"/>
  </div>

  <p class="ion-text-center">¡Tu pedido esta siendo preparado!</p>

  <ion-button color="naranja" class="ion-text-capitalize" expand="full">Ver pedido</ion-button>

</ion-content>

