<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button color="dark">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Configuraciones</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        Guardar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="center">
    <ion-avatar class="image-center">
      <img name="profile_pic" src="../../../assets/img/perfil_prueba.JPG">
    </ion-avatar>
    <ion-label>Cambiar foto</ion-label>
  </div>

  <ion-list>
    
    <ion-item>
      <ion-label>Nombre</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Telefono</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Contraseña</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
