<ion-content>

  <button color="Light" class="boton" outline>
    <ion-icon name="chevron-back-sharp" color="dark"></ion-icon>
  </button>

  <ion-item>
    <h6>Configuraciones</h6>
  </ion-item>

  <div class="center">
    <ion-avatar class="image-center">
      <img name="profile_pic" src="../../../assets/img/perfil_prueba.JPG">
    </ion-avatar>
    <ion-label>Cambiar foto</ion-label>
  </div>

  <ion-item>
    <ion-label position="stacked">Nombre</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Apellidos</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Teléfono</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Contraseña</ion-label>
    <ion-input></ion-input>
  </ion-item>

</ion-content>
