<ion-header class="ion-no-border">
  <ion-toolbar color="naranja">

    <ion-buttons slot="start">
      <ion-back-button color="light" text=""></ion-back-button>
    </ion-buttons>
    
    <ion-title mode="ios">
      <img src="../../../assets/img/logo-blanco.png" width="40px" height="20px" alt="">
    </ion-title>
    
    <ion-buttons slot="end">
      <ion-button (click)="abrirDetallesPedido(uid)">
        <ion-icon slot="icon-only" color="light" name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header> 

<ion-content class="ion-padding">

    <div class="top-shop">
      <div class="description">
        <p class="title"><span class="name" id="title">Pedido #{{numPedido}}</span></p>
        <!-- <p class="subtitle margin"><span class="name">{{pedido.restaurante}}</span></p> -->
        <p class="subtitle margin"><span class="name">Koko Roll</span></p>
      </div>
    </div>
    <div class="lugar margin">
      <!-- <img src="../../../assets/img/pizzah.jpg"> -->
      <img src="../../../assets/img/koko.jpg">
    </div>

    <ion-list class="margin">
      <ion-item lines="none">
        <ion-icon slot="start" [ngClass]="estado1" name="hourglass-outline"></ion-icon>
        <ion-label color="medium">Pedido Confirmado</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-icon [ngClass]="estado2" name="checkmark-circle-outline"></ion-icon>
        <ion-label color="medium">Preparando Pedido</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-icon [ngClass]="estado3" name="checkmark-circle-outline"></ion-icon>
        <ion-label color="medium">Pedido Recolectado</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-icon [ngClass]="estado4" name="checkmark-circle-outline"></ion-icon>
        <ion-label color="medium">Pedido en transito</ion-label>
      </ion-item>
    
      
      <ion-item lines="none">
        <ion-icon [ngClass]="estado5" name="checkmark-circle-outline"></ion-icon>
        <ion-label color="medium">Entegado</ion-label>
      </ion-item>
    </ion-list>
  
  <ion-button class="margin-top ion-text-capitalize" [disabled]="!entregado" color="naranja"  expand="block" (click)="calificarRepartidor()" >Calificar Repartidor </ion-button>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="naranja" (click)="contactarRepartidor()">
      <ion-icon name="chatbox"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>


