<ion-header class="ion-no-border" [ngClass]="this.showToolbar ? 'background' : 'none'">
  <ion-toolbar color="naranja">
    <ion-buttons slot="start">
      <ion-button (click)="clickedStar()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title mode="ios">
        <img src="../../../assets/img/logo-blanco.png" width="40px" height="20px" alt="">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-label class="title">
      Mis pedidos
    </ion-label>
    <ion-card *ngFor = "let i of pedidosPorRestaurante">
      <img src="../../../assets/img/pizzah.jpg" alt="">
        <div class="padding">
          <ion-card-header>
            <ion-card-title>
              <p class="bold" >{{i.productos.join(", ")}} <ion-badge class="ion-margin-start status">{{i.estado}}</ion-badge></p>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p class="light margin"><ion-icon name="cart"></ion-icon>{{i.nombreRestaurante}}</p>
            <p class="light"><ion-icon name="person"></ion-icon> {{i.nombre}}</p>
          </ion-card-content>
        </div>
    </ion-card>
    <!--<ion-card>
      <img src="../../../assets/img/pizzah.jpg" alt="">
        <div class="padding">
          <ion-card-header>
            <ion-card-title>
              <p class="bold">Pizza de peperoni <ion-badge class="ion-margin-start status">En proceso</ion-badge></p>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p class="light margin"><ion-icon name="cart"></ion-icon> Dominos Pizza</p>
            <p class="light"><ion-icon name="person"></ion-icon> Edgar Vazquez</p>
          </ion-card-content>
        </div>
    </ion-card>
    <ion-card>
      <img src="../../../assets/img/pizzah.jpg" alt="">
        <div class="padding">
          <ion-card-header>
            <ion-card-title>
              <p class="bold">Pizza de peperoni <ion-badge class="ion-margin-start status">En proceso</ion-badge></p>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p class="light margin"><ion-icon name="cart"></ion-icon> Dominos Pizza</p>
            <p class="light"><ion-icon name="person"></ion-icon> Edgar Vazquez</p>
          </ion-card-content>
        </div>
    </ion-card>-->
</ion-content>
