<ion-header class="ion-no-border" [ngClass]="this.showToolbar ? 'background' : 'none'">
  <ion-toolbar color="naranja">

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title mode="ios">
        <img src="../../../assets/img/logo-blanco.png" width="40px" height="20px" alt="">
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- pedidos pendientes -->
  <div class="ion-margin-bottom">
    <h5>Mis pedidos Pendientes</h5>
  
    <ion-card *ngFor = "let i of pedidosPendientes" (click)="abrirDetallesPedido(i.uid)">
      <img src="../../../assets/img/pizzah.jpg" alt="">
        <div class="padding">
          <ion-card-header>
            <ion-card-title>
              <p class="bold" >{{i.productos.join(", ")}} <ion-badge class="ion-margin-start status">{{i.estado}}</ion-badge></p>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p class="light margin"><ion-icon name="cart"></ion-icon>{{i.nombreRestaurante}}</p>
            <p class="light"><ion-icon name="person"></ion-icon> {{i.nombreRepartidor}}</p>
          </ion-card-content>
        </div>
    </ion-card>
  </div><!-- pedidos pendientes -->

  <!-- pedidos concluidos -->
  <div class="ion-margin-bottom">
    <h5>Mis pedidos Concluidos</h5>
  
    <ion-card *ngFor = "let i of pedidosConcluidos" (click)="abrirDetallesPedido(i.uid)">
      <img src="../../../assets/img/pizzah.jpg" alt="">
        <div class="padding">
          <ion-card-header>
            <ion-card-title>
              <p class="bold" >{{i.productos.join(", ")}} <ion-badge class="ion-margin-start status">{{i.estado}}</ion-badge></p>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p class="light margin"><ion-icon name="cart"></ion-icon>{{i.nombreRestaurante}}</p>
            <p class="light"><ion-icon name="person"></ion-icon> {{i.nombre}}</p>
          </ion-card-content>
        </div>
    </ion-card>
  </div><!-- pedidos concluidos -->
    
</ion-content>
