<ion-header>
  <ion-toolbar color="naranja">

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <div class="mdm-center-horizontal">
      <img src="../../../../assets/img/logo-blanco.png" style="height: 30px;">
    </div>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name=""></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list>

    <ion-list-header>
      <h5>Mensajes</h5>
    </ion-list-header>

    <ion-item class="chat-item" lines="full" *ngFor="let i of vistasChats" (click)="abrirMensajes(i.uidRepartidor)">
      <ion-avatar slot="start">
        <ion-img [src]="i.foto? i.foto : fotoPorDefecto"></ion-img>
      </ion-avatar>
      <ion-text>
        <ion-label>{{i.nombreRepartidor}} {{i.apellidoRepartidor}}<span class="hora">{{i.fechaUltimoMensaje}}</span></ion-label>
        <ion-label class="mensaje">{{i.ultimoMensaje}}</ion-label>
      </ion-text>
    </ion-item>

  </ion-list>

</ion-content>

<!-- fab -->
<ion-fab horizontal="end" vertical="bottom" slot="fixed">

  <ion-fab-button color="naranja" (click)="contactarRepartidor()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>

</ion-fab><!-- fab -->
