<ion-content>
  <section class="complementos">
    <ion-item lines="none" class="title">
      <ion-label>Complementos</ion-label>
    </ion-item>
    <div class="scrollable">
      <div class="scroll-horizontal-item" *ngFor="let complemento of complementos">
        <ion-card>
          <ion-card-content>
            <ion-icon size="large" src="../../../assets/img/{{complemento.Imagen}}"></ion-icon>
          </ion-card-content>
        </ion-card>
        <ion-label class="scroll-item-text">
          {{complemento.Nombre}}
        </ion-label>
      </div>
    </div>
  </section>
  <section class="pedidos">
    <p class="section-header">Pedido</p>
    <ion-item>
      <ion-label>Nombre negocio</ion-label>
    </ion-item>
    <ion-list *ngFor="let pedido of ordenes">
      <div class="item-pedido">
        <div class="left">
          <ion-label>{{pedido.Nombre}}</ion-label>
          <ion-label>${{pedido.Precio}}</ion-label>
        </div>

        <div class="right">
          <div class="numeric-input">
            <label (click)="decrease()">-</label>
            <label class="value">{{pedido.Cantidad}}</label>
            <label (click)="increase()">+</label>
          </div>
        </div>
      </div>
    </ion-list>
  </section>
  <section class="direccion">
    <p class="section-header">Direccion de entrega</p>
    <ion-card>
      <ion-card-content class="direccion-content">
        <div class="detalles-entrega">
          <div class="icono">
            <ion-icon name="location-sharp" size="large"></ion-icon>
          </div>
          <div class="detalles">
            <p class="title">Nombre Casa</p>
            <p>Calle #No, Colonia</p>
          </div>
        </div>
        <ion-badge class="badge">
          Cambiar
        </ion-badge>
      </ion-card-content>
    </ion-card>
  </section>
  <section class="total">
    <p class="section-header">Total</p>
    <ion-card>
        <ion-card-content>
          <div id="subTotal" class="item-total">
            <p>Total de los productos</p>
            <p>{{subTotal}}</p>
          </div>
          <div id="costoEnvio" class="item-total">
            <p>Total de los productos</p>
            <p>{{costoEnvio}}</p>
          </div>
          <div id="total" class="item-total">
            <p>Total de los productos</p>
            <p>{{total}}</p>
          </div>
        </ion-card-content>
    </ion-card>
  </section>
</ion-content>
<ion-footer>
  <ion-button expand="block">Realizar pedido</ion-button>
</ion-footer>
