@font-face {
  font-family: Montserrat;
  src: url("https://fonts.googleapis.com/css?family=Montserrat:100");
}

* {
  font-family: sans-serif;
}

@mixin badges($color, $background) {
    font-family: sans-serif;
    color: $color;
    background-color: $background;
    font-size: 10px;
    font-weight: 100;
    padding: 2px 10px;
}

.complementos {
  padding: 10px;

  .title {
    margin-bottom: -20px;
  }
}

.scrollable {
  display: flex;
  overflow: auto;
  width: 100%;
  padding: 10px;
}

.scroll-horizontal-item {
  flex: none;
  margin: 5px;

  .scroll-item-text {
    font-size: 0.7rem;
  }
}

.section-header {
  margin: 10px;

  font-weight: bold;
}

.pedidos {
  .item-pedido {
    display: flex;
    justify-content: space-between;

    .left {
      display: flex;
      flex-direction: column;
      padding: 10px;
      margin-left: 10px;

      ion-label {
        color: darkgray;
        font-size: 0.9rem;
      }
    }

    .right {
      padding: 10px;
      width: 30%;
    }

    .numeric-input {
      display: flex;
      justify-content: space-between;
      width: 100%;
      border: 1px solid rgb(235, 118, 22);
      border-radius: 5px;
      box-shadow: 1px 1px 3px 1px lightgray;
      padding: 5px;
      margin-right: 20px;

      label:not(:nth-child(2)) {
        color: orange;
      }
    }
  }

  .item-pedido::after {
    content: '';
    position: absolute;
    background-color: lightgray;
    width: 90%;
    height: 1px;
    bottom: 0;
    margin-bottom: 10px;
    margin-left: 15px;
  }
}

.direccion {

  .direccion-content {
    display: flex;
    justify-content: space-between;

    .detalles-entrega {
      display: flex;
      flex-direction: row;

      p {
        font-size: 0.8em;

        .title {
          color: black;
        }
      }

      .icon {
        margin-right: 10px;
      }
    }

    .badge {
      display: flex;
      align-self: center;

      @include badges(green, #eaeaea);
    }
  }
}

.total {
  display: flex;
  flex-direction: column;

  .item-total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

ion-footer {
  padding: 0;
}
