<ion-header> </ion-header>

<ion-content>
	<div class="contenido" color="naranja">
		<div class="top">
			<ion-img class="logo" src="../../../assets/icon/logo-white-arrow.png">
			</ion-img>
		</div>

		<section class="direccion">
			<ion-item lines="none">
				<p slot="start">Nueva dirección</p>
			</ion-item>
			<div class="map">
				<div>
					<p>Inserte mapa aquí</p>
				</div>
			</div>

			<div class="datos-direccion">
				<ion-item lines="none">
					<p>Dirección</p>
				</ion-item>
				<ion-card>
					<ion-card-content>
						<p> Datos dirección obtenida </p>
					</ion-card-content>
				</ion-card>
				<br/>
				<ion-card>
					<ion-card-content>
						<p> Datos departamento, piso, casas</p>
					</ion-card-content>
				</ion-card>
			</div>
		</section>
	</div>
</ion-content>

<ion-footer class="ion-no-border" color="naranja">
	<button class="boton-agregar" color="naranja">
		Agregar dirección
	</button>
</ion-footer>
