<!-- <ion-header>
  <ion-toolbar>
    <ion-title>restaurant</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content fullscreen>
  <!-- <h1><ion-icon name="alert-outline"></ion-icon>Esto es unaprueb</h1> -->
  <div class="top-btn">
    <p><ion-icon name="chevron-back-outline"></ion-icon></p>
    <p><ion-icon name="heart-outline"></ion-icon></p>
  </div>

  <section class="principal">
    <div class="top-shop">
      <ion-avatar class="img-avatar">
        <img src="https://gravatar.com/avatar">
      </ion-avatar>
      <div class="description">
        <p class="title"><span class="name" id="title">Dominos Pizza</span><ion-badge class="status">Abierto</ion-badge></p>
        <p class="subtitle">
          <span class="name">Pizzeria</span><ion-icon name="star"></ion-icon><span class="star">
            4.5</span>
        </p>
      </div>
    </div>
    <div class="description-shop">
      <p>Entrega aproximada: <span>40 Minutos</span><ion-icon name="information-circle-outline"></ion-icon></p>  
    </div>
    <div class="articles">
      <div class="nav">
        <button class="btn active">Todos</button>
        <button class="btn">Pizza</button>
        <button class="btn">Papas</button>
        <button class="btn">Postres</button>
      </div>
      
      
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card>
              <img src="../../../assets/pizzah.jpg" alt="">
              <div class="padding">
                <ion-card-header>
                  <ion-card-title>
                    <p> Pizza de peperoni</p>
                  </ion-card-title>
                  <ion-card-subtitle>
                    <p>Ingredientes</p>
                  </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                  <ion-badge class="status"><ion-icon name="card"></ion-icon> 125.00MXN</ion-badge><ion-badge class="status"><ion-icon name="time"></ion-icon> 30-60 Min</ion-badge>
                </ion-card-content>
              </div>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card>
              <img src="../../../assets/pizzah.jpg" alt="">
              <div class="padding">
                <ion-card-header>
                  <ion-card-title>
                    <p> Pizza de peperoni</p>
                  </ion-card-title>
                  <ion-card-subtitle>
                    <p>Ingredientes</p>
                  </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                  <ion-badge class="status"><ion-icon name="card"></ion-icon> 125.00MXN</ion-badge><ion-badge class="status"><ion-icon name="time"></ion-icon> 30-60 Min</ion-badge>
                </ion-card-content>
              </div>       
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    
  </section>
</ion-content>

