*{
    font-family: Montserrat;
}
.textbox-label{
    font-weight: bold;
    margin: 0;
}

ion-row{
    margin: 0;
    padding: 0;
}

ion-col{
    margin: 0;
    padding: 0;
}

.m-top{
    margin-top: 25px;
}
.right{
    margin-left: 10px !important;
}

ion-footer{
    & > *{
        margin: 0;
        padding: 0;
    }
}
