<ion-header>
  <ion-toolbar color="naranja">

    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>

    <div class="mdm-center-horizontal">
      <img src="../../../../assets/img/logo-blanco.png" style="height: 30px;">
    </div>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name=""></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list>

    <ion-list-header>
      <h5>Mensajes</h5>
    </ion-list-header>

    <ion-item class="chat-item" lines="full" *ngFor="let i of chats" (click)="abrirMensajes(i.uid)">
      <ion-avatar slot="start">
        <img src="../../../../assets/img/foto-perfil-01.jpg">
      </ion-avatar>
      <ion-text>
        <ion-label>{{i.nombre}} {{i.apellido}}<span class="hora">Hace cierto tiempo</span></ion-label>
        <ion-label class="mensaje">Lorem ipsum dolor sit amet, consectetur </ion-label>
      </ion-text>
    </ion-item>

  </ion-list>

</ion-content>
