*{
    font-family: Montserrat;
}

.image-center{
    margin:0 auto;
    height: 65px;
    width: 65px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.center{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boton{
    border-color: transparentize($color: #000000, $amount: 0);
    height: 55px;
    width: 45px;
    background-color: white;
}
