<ion-header>
  <ion-toolbar>

    <ion-buttons slot="end">
      <ion-button color="dark" (click)="dismissModal()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="centrar">
    <img class="logo" src="assets/img/logo.png" alt="">
    <p>¡Tu pedido esta siendo preparado!</p>
  </div>

</ion-content>

<ion-footer>
  <ion-button color="naranja" class="ion-text-capitalize" expand="block" (click)="verPedido()">Ver pedido</ion-button>
</ion-footer>
