<ion-header class="ion-no-border" [ngClass]="this.showToolbar ? 'background' : 'none'">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button color="light" (click)="clickedStar()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title mode="ios">
        <img src="../../../assets/img/logo-blanco.png" width="40px" height="20px" alt="">
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="clickedStar()">
        <ion-icon name="heart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
  
</ion-header>

<ion-content fullscreen (ionScroll)="onScroll($event)" [scrollEvents]="true">
  <div class="top-btn">
  </div>

  <section class="principal">
    <div class="top-shop">
      <ion-avatar class="img-avatar">
        <img src="https://gravatar.com/avatar">
      </ion-avatar>
      <div class="description"  *ngFor="let restaurants of Restaurant">
        <p class="title"><span class="name" id="title">{{restaurants.nombre}}</span><ion-badge class="status">{{restaurants.estado}}</ion-badge></p>
        <p class="subtitle">
          <span class="name">{{restaurants.categoria}}</span><ion-icon name="star"></ion-icon><span class="star">
            {{restaurants.calificacion}}</span>
        </p>
      </div>
    </div>
    <div class="description-shop" *ngFor="let restaurants of Restaurant">
      <p>Entrega aproximada: <span>{{restaurants.tiempoaprox}} minutos</span><ion-icon name="information-circle-outline"></ion-icon></p>  
    </div>
    
    <div class="articles">
      <ion-segment class="margin-y" [(ngModel)]="select" (ionChange)="segmentChanged($event)" scrollable mode="md"  color="dark">
        <ion-segment-button selected [(value)]="i" *ngFor="let i of ['Lorem','ipsum','asit','amet','lorem']">
          <ion-label>{{i}}</ion-label>
        </ion-segment-button>
      </ion-segment>
      <!-- <div class="nav">
        <button class="btn active">Todos</button>
        <button class="btn">Pizza</button>
        <button class="btn">Papas</button>
        <button class="btn">Postres</button>
      </div> -->
      
      <div [ngSwitch]="select">
        <ion-grid *ngSwitchCase="'Lorem'">
          <ion-row>
            <ion-col size="6" *ngFor="let i of [1,1,1,1,1]">
              <ion-card>
                <img src="../../../assets/img/pizzah.jpg" alt="">
                <div class="padding">
                  <ion-card-header>
                    <ion-card-title>
                      <p> Pizza de peperoni</p>
                    </ion-card-title>
                    <ion-card-subtitle>
                      <p>Ingredientes</p>
                    </ion-card-subtitle>
                  </ion-card-header>
                  <ion-card-content>
                    <ion-badge class="status"><ion-icon name="card"></ion-icon> 125.00MXN</ion-badge><ion-badge class="status"><ion-icon name="time"></ion-icon> 30-60 Min</ion-badge>
                  </ion-card-content>
                </div>
              </ion-card>
            </ion-col></ion-row>
        </ion-grid>
        <ion-grid *ngSwitchCase="'ipsum'">
          <ion-row>
            <ion-col size="6" *ngFor="let i of [1,1]">
              <ion-card>
                <img src="../../../assets/img/pizzah.jpg" alt="">
                <div class="padding">
                  <ion-card-header>
                    <ion-card-title>
                      <p> Pizza de peperoni</p>
                    </ion-card-title>
                    <ion-card-subtitle>
                      <p>Ingredientes</p>
                    </ion-card-subtitle>
                  </ion-card-header>
                  <ion-card-content>
                    <ion-badge class="status"><ion-icon name="card"></ion-icon> 125.00MXN</ion-badge><ion-badge class="status"><ion-icon name="time"></ion-icon> 30-60 Min</ion-badge>
                  </ion-card-content>
                </div>
              </ion-card>
            </ion-col></ion-row>
        </ion-grid>
        <ion-grid *ngSwitchCase="'asit'">
          <ion-row>
            <ion-col size="6" *ngFor="let i of [1,1,1]">
              <ion-card>
                <img src="../../../assets/img/pizzah.jpg" alt="">
                <div class="padding">
                  <ion-card-header>
                    <ion-card-title>
                      <p> Pizza de peperoni</p>
                    </ion-card-title>
                    <ion-card-subtitle>
                      <p>Ingredientes</p>
                    </ion-card-subtitle>
                  </ion-card-header>
                  <ion-card-content>
                    <ion-badge class="status"><ion-icon name="card"></ion-icon> 125.00MXN</ion-badge><ion-badge class="status"><ion-icon name="time"></ion-icon> 30-60 Min</ion-badge>
                  </ion-card-content>
                </div>
              </ion-card>
            </ion-col></ion-row>
        </ion-grid>
      </div>
      
    </div>

    
  </section>
</ion-content>
<ion-footer fullscreen>
  <ion-button color="success" expand="full" (click)="btnClick()">Seguir pedido</ion-button>
</ion-footer>

