.foto {
    height: 180px;
    width: 180px;
}

.fab-agregar-imagen {
    margin-top: -60px;
    margin-right: -110px;
}

.textbox-label {
    margin: 0px 0px 7px 0px;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
}