.top-btn {
    background: #ff4000;
    height: 120px;
    z-index: -1;
    padding: 10px 10px;
    display: flex;
    justify-content: flex-start;
    
    p {
        color: white;
    }

    .logo {
        display: flex;
        align-self: center;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        height: 100px;
        width: 100px;
    }
}

@mixin badges($color, $background) {
    font-family: sans-serif;
    color: $color;
    background-color: $background;
    font-size: 10px;
    font-weight: 100;
    padding: 2px 10px;
}

.principal{
    z-index: 1;
    position: relative;
    top: -25px;
    padding: 15px 25px;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    background-color: #fff;

    .title {
        font-size: 1.5rem;
        margin-left: 5%;        
    }
}

ion-card {
    border-radius: 5px;

    .card-header {
        padding: 5px 15px;

        .status-proceso {
            @include badges(green, #eaeaea);
            margin-left: 15px;
        }

        .status-finalizado {
            @include badges(red, #eaeaea);
            margin-left: 15px;
        }
    }

    .pedido-item-title {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        p {
            margin: 0;
        }
    }

    ion-card-title {
        font-size: 1rem;
        padding: 10px 10px;
    }

    .card-content {

        display: flex;
        align-items: flex-start;
        flex-direction: column;

        .item-content {
            font-size: 1em;

            .icon {
                margin-right: 5px;
            }
            .text {
                margin-left: 5px;
            }
        }
    }
}