<ion-header>
</ion-header>

<ion-content>
	<div class="contenido">
		<div class="top">
			<ion-img class="logo" src="../../../assets/icon/logo-white-arrow.png">
			</ion-img>
		</div>

		<div class="chat">
			<div class="informacion">
				<div class="nombre">
					{{"Edgar Vazquez"}}
				</div>
				<div class="icono">
					<ion-icon name="information-circle-outline" size="large">
					</ion-icon>
				</div>
			</div>
			<div class="separador">
				
			</div>
			<div class="mensajes">

			</div>
		</div>
	</div>
</ion-content>
